In [69]:
import pandas as pd
import numpy as np
import cx_Oracle as cx
from sqlalchemy import create_engine
from ads.dataset.factory import DatasetFactory
from ads.dataset.dataset_browser import DatasetBrowser
import ads

In [70]:
# Read the data from Object Storage
ds = DatasetFactory.open("oci://patient-test/sampleobj3.csv", delimiter="|", 
                         column_names=["Patient_ID","Name", "Zip Code","Visits"],
                         storage_options = {
   "config": "~/.oci/config",
   "profile": "DEFAULT"
})

HBox(children=(IntProgress(value=0, description='loop1', max=6, style=ProgressStyle(description_width='initial…

In [71]:
# Content of the file
ds.head()

   Patient_ID       Name  Zip_Code  Visits
0       110.0   Sam Shah    8817.0     5.0
1       800.0   Jane Doe   11232.0    10.0
2       400.0   Rick Saw    8536.0     9.0
3       402.0  Janet Doe   11232.0    10.0
4       403.0   Rick Lee    8536.0     9.0

In [72]:
# Perform any wrangling, calculate new columns
df = ds.to_pandas_dataframe()
df['lifespan']=72
df = df.astype({'Patient_ID': int, 'Zip_Code': int, 'Visits': int, 'lifespan': int})
df['Patient_ID'] = 1000* df['Patient_ID'] 
df['lifespan'] = 72 - df['Visits']
df.head()

   Patient_ID       Name  Zip_Code  Visits  lifespan
0      110000   Sam Shah      8817       5        67
1      800000   Jane Doe     11232      10        62
2      400000   Rick Saw      8536       9        63
3      402000  Janet Doe     11232      10        62
4      403000   Rick Lee      8536       9        63

In [73]:
# Prepare for output, convert data frame to Data Factory
ds_out = DatasetFactory.from_dataframe(df).set_target('Patient_ID')

HBox(children=(IntProgress(value=0, description='loop1', max=6, style=ProgressStyle(description_width='initial…

In [74]:
# Write the new table to Object Storage
ds_out.to_json("oci://output-bucket/sampleobj2.json", storage_options = {
   "config": "~/.oci/config",
   "profile": "DEFAULT"
})

['output-bucket/sampleobj2.json0']

In [75]:
ds_out.show_in_notebook()

Accordion(children=(HTML(value='<h3>Type: MultiClassClassificationDataset</h3><h3>8 Rows, 5 Columns</h3><h4>Co…